.linkinput {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 2rem;
    align-items: center;
    border: solid 3px #C9C9C9;
    border-radius: 5px;
    width: 280px;
    padding: 3px;

    img {
        border-radius: 5px;
        height: 20px;
        margin-right: 5px;
    }

    p {
        font-weight: 600;
    }

    input {
        border: none;
        height: 100%;
        padding: 0 1px;
        font-weight: 500;
        width: 120px;
    }

}