.username-selection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40vh;

    .username-selection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .username-field {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 2rem;
            align-items: center;
            border: solid 3px #C9C9C9;
            border-radius: 5px;
            width: 250px;

            padding: 3px;

            img {
                height: 20px;
                margin-right: 5px;
            }

            p {
                font-weight: 600;
            }

            input {
                border: none;
                height: 100%;
                padding: 0 1px;
                font-weight: 500;
                width: 120px;
            }

        }

        button {
            padding: 0.2rem 0.5rem;

            border: solid 1px grey;
            border-radius: 10px;
            font-weight: 600;
            color: white;
            background-color: #9C51E0;
            cursor: pointer;
        }

        .error {
            color: rgb(209, 30, 30);
            font-weight: 700;
        }
    }

    .username-selection-tips {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;

        img {
            align-self: flex-start;
            height: 30px;
        }

        p {
            width: 310px;
            font-weight: 600;
            color: #525252;
        }
    }
}