.purple{
    color: #9C51E0;
    margin: 10px;
}
.grey{
    color: #A7A7A7;
    margin: 10px;
}
.newuser-state{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    p{
        font-weight: 600;
    }
    .first-step{
        cursor: pointer;
    }
}